<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</body>
    <h1>Check out your stats! </h1>
    <p>"some catchy slogan"</p>
    <a href="/codStat">See all your stats here!</a>
    <a href="/codStats/new">Add your stats here!</a>
</body>
</html>