<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LevelUp Homepage</title>
</head>
<body>
    <header>
        <h1>Welcome to LevelUp!</h1>
        <p>"Some catchy slogan about gaming and improving your stats!"</p>
    </header>
    <footer>
        <p>&copy; 2024 LevelUp. All rights reserved.</p>
    </footer>
</body>
</html>
    <h1>Check out your stats! </h1>
    <p>"some catchy slogan"</p>
    <a href="/codStats/">See all your stats here!</a>
    <a href="/codStats/new">Add your stats here!</a>
</body>
</html>

]
