<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> Change your Game!</h1> 
   <form method="POST" action="/games/<%game._id%>?_methos=PUT">
    <div>
        <label for="rank">Rank:</label>
        <input type="text" name = "rank" id = "rank" value="<%= codstat.rank %>"/>
    </div>

    <button type="submit">Submit your Changes</button>
   </form>
</body>
</html>